.NavigationItems {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.NavigationItem {
    list-style: none;
    margin: 0 5px;
    box-sizing: border-box;
    height: 100%;
}

.NavigationItem a {
    text-decoration: none;
    color: #df963e;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #5ca200;
    border-bottom: 2px solid #5ca200;
}

@media (min-width: 665px) {
    .NavigationItems {
        align-items: center;
        flex-direction: row;
    }

    .NavigationItem a {
        color: white;
        border: none;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: white;
        border-bottom: 2px solid #dad735;
    }
}
