.Sidebar{
    width: 220px;
    max-width: 70%;
    height: 100%;
    padding: 20px 10px;
    background-color: #ffe8db;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    transition: transform 0.3s linear;
}

.Logo {
    height: 10%;
    margin-bottom: 30px;
}

.Open {
    transform: translateX(0);
}

.Closed {
    transform: translateX(-100%);
}

@media (min-width: 665px) {
    .MobileOnly{
        display: none;
    }
}